Source: python-pycadf
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Julien Danjou <acid@debian.org>,
           Thomas Goirand <zigo@debian.org>,
           Mehdi Abaakouk <sileht@sileht.net>
Build-Depends: debhelper (>= 9),
               openstack-pkg-tools,
               python-all (>= 2.6.6-3~),
               python-setuptools
Build-Depends-Indep: python-babel (>= 1.3),
                     python-coverage (>= 3.6),
                     python-docutils,
                     python-fixtures (>= 0.3.14),
                     python-hacking (>= 0.8.0),
                     python-iso8601 (>= 0.1.9),
                     python-mock (>= 1.0),
                     python-mox,
                     python-netaddr,
                     python-oslo.config (>= 1.2.0),
                     python-oslo.messaging (>= 1.3.0~a9),
                     python-oslosphinx,
                     python-pbr (>= 0.5.21),
                     python-six (>= 1.5.2),
                     python-sphinx,
                     python-subunit (>= 0.0.18),
                     python-testscenarios (>= 0.4),
                     python-testtools (>= 0.9.34),
                     python-tz,
                     python-webob (>= 1.2.3),
                     subunit (>= 0.0.18),
                     testrepository (>=0.0.18)
Standards-Version: 3.9.5
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/python-pycadf.git
Vcs-Git: git://anonscm.debian.org/openstack/python-pycadf.git
Homepage: https://github.com/openstack/pycadf

Package: python-pycadf
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: python-babel (>= 1.3),
         python-iso8601 (>= 0.1.9),
         python-netaddr,
         python-oslo.config (>= 1.2.0),
         python-oslo.messaging (>= 1.3.0~a9),
         python-six (>= 1.5.2),
         python-tz,
         python-webob (>= 1.2.3),
         ${misc:Depends},
         ${python:Depends}
Recommends: ${python:Recommends}
Description: implementation of DMTF Cloud Audit (CADF) data model
 pyCADF is an implementation of DMTF Cloud Audit (CADF) data model.
 DMTF Cloud Management Initiative is promoting the work of the Cloud Management
 Work Group, the Cloud Auditing Data Federation Working Group, the System
 Virtualization, Partitioning, Clustering Working Group and the Software
 Entitlement Working Group. See http://dmtf.org for details.
